In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

app_data = pd.read_csv('googleplaystore.csv')

In [2]:
def missing_values(test):
    total = test.isnull().sum().sort_values(ascending=False)
    percent_1 = test.isnull().sum()/test.isnull().count()*100
    percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
    missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
    
    return missing_data.head((missing_data['Total'] > 0).sum())

In [3]:
# Display the amount of missing values per column
# and what percentage of the column contains missing values
missing_values(app_data)

                Total     %
Rating           1474  13.6
Current Ver         8   0.1
Android Ver         3   0.0
Content Rating      1   0.0
Type                1   0.0

In [4]:
# Removing app titled Life Made Wifi Touchscreen Photo Frame
# Reason: many missing and unusable values
app_data = app_data.drop(10472)

# Removing rows with missing rating
app_data = app_data[app_data.Rating.notnull()]

In [5]:
# Create df for Rating
# the y df
rating_data = app_data["Rating"]

# Create df for the Rest of the features
# the x df
columns_drop = ["Rating", "Reviews", "Last Updated", "Current Ver", "Android Ver", "Installs"]
rest_data = app_data.drop(columns_drop, axis = 1)

In [6]:
# Count unique values in App and see that there are duplicates
unique_apps = app_data["App"].nunique()
all_apps = app_data["App"].size

In [7]:
# Convert Installs to numeric
#rest_data["Installs"] =  pd.to_numeric((rest_data["Installs"].str.replace("+", "")).str.replace(",", ""))

In [8]:
#See all unique values in the Android version column
#rest_data["Android Ver"].unique()
# Note that most are num and up. Hence, we can split the column into 3 by space

#Take the first part of the android version
#rest_data["Android Ver"] = app_data["Android Ver"].str.split(expand = True)

In [9]:
rest_data.loc[9147:9150]

,App,Category,Size,Type,Price,Content Rating,Genres
9147,Plants vs. Zombies™ 2,FAMILY,15M,Free,0,Everyone 10+,Casual
9149,Star Wars™: Galaxy of Heroes,FAMILY,67M,Free,0,Everyone 10+,Role Playing
9150,Dungeon Keeper,FAMILY,45M,Free,0,Everyone 10+,Strategy

In [10]:
# There are 3 values in type column: free, paid and nan. There is only 1 nan so I looked at it and
# since the price is set to 0, I will put free for that cell

# Change price column to free = 0 and paid = 1
paid_types = rest_data["Type"].unique()

In [11]:
# creating instance of labelencoder
labelencoder = LabelEncoder()
rest_data['Type'] = labelencoder.fit_transform(rest_data['Type'])

In [12]:
# Select numeric columns that can be converted as is
num_cols = ["Reviews"]